<!doctype html>
<html>
<head>
    <title>Hello AngularJS</title>
    <link href="bower_components/bootstrap-css-only/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="myApp" ng-cloak class="ng-cloak">

<div ng-controller="LoginController as vmLogin" class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">home</a></li>
                    <li><a href="#/login">login</a></li>
                    <li ng-show="vmLogin.SecurityService.authenticated">
                        <a href="" ng-click="vmLogin.logout()">logout</a>
                    </li>
                    <li ng-show="vmLogin.SecurityService.authenticated">
                        <a href="" ng-click="vmLogin.customLogout()">Custom logout</a>
                    </li>
                </ul>
                <ul ng-show="vmLogin.SecurityService.authenticated"  class="nav navbar-nav navbar-right">
                    <li>Hello {{vmLogin.SecurityService.username }}</li>
                    <li>Roles: {{vmLogin.SecurityService.roles }}</li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>



</div>

<div ng-view class="container"></div>

<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
<script type="text/javascript" src="./bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="./bower_components/lodash/dist/lodash.js"></script>
<script type="text/javascript" src="./bower_components/restangular/src/restangular.js"></script>
<script type="text/javascript" src="./app/app.js"></script>
<script type="text/javascript" src="./app/controllers/ItemController.js"></script>
<script type="text/javascript" src="./app/services/ItemService.js"></script>
<script type="text/javascript" src="./app/services/SecurityService.js"></script>
<script type="text/javascript" src="app/services/SecureAdminService.js"></script>
<script type="text/javascript" src="app/services/SecureUserService.js"></script>
<script type="text/javascript" src="app/controllers/homeController.js"></script>
<script type="text/javascript" src="app/controllers/loginController.js"></script>
</body>
</html>